{{include 'header.html'}}
		
		<div id='post_snippet'>
		
		<h2>Create a post</h2>
		{{if auth.is_logged_in() == True:}}
				{{=form}}
		{{else:}}
            You need to login!	
		{{pass}}
		</div>
        
        <div id='footer'><h2>{{=response.flash}}</h2></div>

{{include 'footer.html'}}
