{{include 'header.html'}}
		
		{{if auth.is_logged_in() == True:}}
			<div id='post_snippet'>
				{{=form}}
			</div>
		{{else:}}
			<div id='post_snippet'>
				<a href= "{{=URL(r=request, f='user')}}">Login</a>
			</div>
		{{pass}}
        <div id='footer'><h2>{{=response.flash}}</h2></div>

{{include 'footer.html'}}
