{{include 'header.html'}}
<div class="gallery_wrapper">
	<div class="gallery_title">
        {{=H2(image.title)}} 
    </div>
    {{=IMG(_src=URL('download',args=image.image), _width="700",_class="imgcenter")}}
    {{if image.caption:}}
    	<div class="gallery_caption">
    	{{=image.caption}}
    </div>
    {{pass}}
    {{=H3(A('Previous', _href=URL(f='gallery', args=image.id-1)), _class="alignleft")}}
    {{=H3(A('Next', _href=URL(f='gallery', args=image.id+1)), _class="alignright")}}
</div>
{{include 'footermin.html'}}
