{{include 'header.html'}}
{{is_mobile=request.user_agent().is_mobile}}
{{if is_mobile:}}
<!--Mobile view-->



<div class="mobilecontainer">

<div class="mobilegamevars">{{=globalvars}}</div>
<div class="mobilemissionbox">
		{{if missions:}}
                {{n = 0}}
                <table class='missiontable'>
                	<thead>
                		<tr>
                            <th>Mission Schedule</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{for mission in missions:}}
                        {{if isunlocked(mission):}}
                        
                    <tr class='open' data-href="{{=URL(r=request, f='viewmission', args=mission.id)}}">         
                        <td>{{=n}} - {{=pretty_date(mission.mission_start)}}</td>
                    </tr>
                           
                        {{else:}}
                    		<tr class='closed'>
                                <td>{{=n}} - {{=pretty_date(mission.mission_start)}}</td>
                      		</tr>
                      	 {{pass}}
                        {{n += 1}}
                        {{pass}}
                    </tbody>
                </table>
		{{else:}}
			<h2>No Mission Schedule<h2>
		{{pass}}
   
    	 	<script>
				$(document).ready(function() {
        			$('tbody tr[data-href]').addClass('clickable').click( function() { 
        				window.location = $(this).attr('data-href'); 
    				}).find('a').hover( function() { 
        				$(this).parents('tr').unbind('click'); 
    				}, function() { 
        				$(this).parents('tr').click( function() { 
            				window.location = $(this).attr('data-href'); 
        				}); 
    				}); 
				});  
        </script>
	</div>
		<a href="{{=URL(c='gamectrl',f='eventfeed')}}"><div class="eventbutton">Events Feed</div></a>
	 <div class="mobilepostbox">
         <div class="mobilepostcontainer">
         Posts
         </div>
        
					{{for i,post in enumerate(posts):}}
        		
            		{{if i==items_per_page: break}}
            		  <a  href="{{=URL(r=request, f='view_post', args=post.id)}}" title="Click to Display" ><div class="mobilepostinfo">{{=post.title}}</div></a>          	
            		{{pass}}
            		
            		
					 {{if len(posts)>items_per_page:}}
         <p>{{=A('Older Posts', _href=URL(f='index', args=[page+1]))}}</p>
               	 	 {{pass}}
               	 	 {{if page:}}
         <p>{{=A('More Recent', _href=URL(f='index', args=[page-1]))}}</p>
					 {{pass}}

				
	</div>		
</div>





{{else:}} 
<!--Desktop view-->

<div class="landingheader"><h1>UMASSHVZ</h1></div>
<div class="gamevars">

{{if auth.is_logged_in() and returncurrentuserpart() and db.game_part(returncurrentuserpart().id).pinktext:}}
{{import random}}
<marquee style="width:100%;" scrollamount="200" scrolldelay="{{=random.randrange(50,500)}}">{{=globalvars}}</marquee>
{{else:}}
     {{=globalvars}}
{{pass}}

</div>
<div class="infoboxwrapper">
	<div class="missionbox">
		{{if missions:}}
                {{n = 0}}
                <table class='missiontable'>
                	<thead>
                		<tr>
                            <th colspan=2>Mission Schedule</th>
                        </tr>
                    </thead>
                    <tbody>
                        
{{if auth.is_logged_in() and returncurrentuserpart() and db.game_part(returncurrentuserpart().id).pinktext:}}

                 {{for mission in missions:}}
                        {{if isunlocked(mission):}}
                       
                    <tr class='open' data-href="{{=URL(r=request, f='viewmission', args=mission.id)}}">         
                        <td>
                            <marquee style="width:150px;" scrollamount="200" scrolldelay="{{=random.randrange(50,500)}}">
                            Mission {{=n}} 
                        </marquee>
                        </td>
						<td>{{=pretty_date(mission.mission_start)}} to {{=pretty_date(mission.mission_end)}} </td>
                    </tr>
                           
                        {{else:}}
                        
                    		<tr class='closed'>
                                <td>  <marquee style="width:150px;" scrollamount="50" scrolldelay="{{=random.randrange(50,250)}}">
                            Mission {{=n}} 
                        </marquee>
                                
                                </td>
                                <td><marquee style="width:300px;" scrollamount="100" scrolldelay="{{=(mission.id*5+250)}}">
                                    {{=pretty_date(mission.mission_start)}} to {{=pretty_date(mission.mission_end)}}
                                    </marquee>
                                    </td>
                      		</tr>
                       
                      	 {{pass}}
                        {{n += 1}}
                        {{pass}}
                        
{{else:}}
                    {{for mission in missions:}}
                        {{if isunlocked(mission):}}
                        
                    <tr class='open' data-href="{{=URL(r=request, f='viewmission', args=mission.id)}}">         
                        <td>Mission {{=n}} </td>
						<td>{{=pretty_date(mission.mission_start)}} to {{=pretty_date(mission.mission_end)}} </td>
                    </tr>
                           
                        {{else:}}
                    		<tr class='closed'>
                                <td>Mission {{=n}}</td>
                                <td>{{=pretty_date(mission.mission_start)}} to {{=pretty_date(mission.mission_end)}}</td>
                      		</tr>
                      	 {{pass}}
                        {{n += 1}}
                        {{pass}}
                    {{pass}}
                    
                    </tbody>
                </table>
		{{else:}}
			<h2>No Mission Schedule<h2>
		{{pass}}
   
    	 	<script>
				$(document).ready(function() {
        			$('tbody tr[data-href]').addClass('clickable').click( function() { 
        				window.location = $(this).attr('data-href'); 
    				}).find('a').hover( function() { 
        				$(this).parents('tr').unbind('click'); 
    				}, function() { 
        				$(this).parents('tr').click( function() { 
            				window.location = $(this).attr('data-href'); 
        				}); 
    				}); 
				});  
        </script>
	</div>
	

	
                <div class="aboutbox">
				{{if events:}}
<table class='eventtable'>
                	<thead>
                		<tr>
                            <th colspan=2>Recent Events</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{for event in events:}}

                    <tr>         
                        <td>{{zid=db.game_part(event.zombie_id).user_id}}
                        {{hid=db.game_part(event.human_id).user_id}} 
                            {{=A(db.auth_user(zid).first_name[0:14] + ' ' + db.auth_user(zid).last_name[0:14],  _href=URL(c='default',f='userinfo', args=zid))}} bit {{=A(db.auth_user(hid).first_name[0:14] + ' ' + db.auth_user(hid).last_name[0:14],  _href=URL(c='default',f='userinfo', args=hid))}} </td>
						<td>{{=prettydate(event.created)}}</td>
                    </tr>
                        {{pass}}
					<tr>
						<td colspan=2><a href="{{=URL(c='gamectrl',f='eventfeed')}}"><div class="eventbutton">Full Events Feed</div></a></td>
                    
                    </tr>
                    </tbody>
                </table>
                    
                    
                
		{{else:}}
			<h2>No Events<h2>
		{{pass}}
                  
                  
                  
                </div>               
</div>

<div class="bodybox">
    <div class="postbox">
        
					{{for i,post in enumerate(posts):}}
        		
            		{{if i==items_per_page: break}}
            		  <a  href="{{=URL(r=request, f='view_post', args=post.id)}}" title="Click to Display" ><div class="postcontainer">{{=post.title}}</div></a>
                    	<div class="postinfo">
                            <p>{{=XML(post.description[:250],sanitize=True)}}</p>
                    	<p><em>{{=prettydate(post.pub_date)}}</em></p>
                    	</div>
                    	
            		{{pass}}
            		
            		
					 {{if len(posts)>items_per_page:}}
                    <p class='alignleft'>{{=A('Older Posts', _href=URL(f='index', args=[page+1]))}}</p>
               	 	 {{pass}}
               	 	 {{if page:}}
                    <p class='alignright'>{{=A('More Recent', _href=URL(f='index', args=[page-1]))}}</p>
					 {{pass}}

				
	</div>		
        
        
  

    <div class="socialbox">
        <a class="twitter-timeline" data-chrome="noscrollbar nofooter transparent" data-theme="dark" data-tweet-limit="3" height="350" width="240" href="https://twitter.com/UMassHvZ"  data-widget-id="351075793625047040">Tweets by @UMassHvZ</a>
        
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

        <div class="fb-like-box" data-href="http://www.facebook.com/massgamesrso" data-width="240" data-show-faces="false" data-colorscheme="dark" data-stream="false" data-border-color="#000000" data-header="false"></div>
        
    </div>    
    
    
</div>
{{pass}}

{{include 'footer.html'}}
