{{include 'header.html'}}
{{if gid:}}
{{is_mobile=request.user_agent().is_mobile}}
{{if is_mobile:}}
	<div class="mobilecontainer">
	
		{{ for squad in squads: }}
        <p><h2><a href="{{=URL(f='squadinfo', args=squad.id)}}">{{=squad.name}}</a></h2></p>
                
	    {{pass}}
	
	
	</div>
	
	
{{else:}}
	<div class="squadbodywrapper" >

	{{ for squad in squads: }}
        {{=A(IMG(_src=URL('download',args=squad.image), _width="960", _height="240" ,_class="nospace"), _href=URL(f='squadinfo', args=squad.id))}}                  
	{{pass}}

    </div>
{{pass}}
{{pass}}
{{include 'footer.html'}}
