{{include 'header.html'}}
{{lid=leader.user_id}}
{{is_mobile=request.user_agent().is_mobile}}
{{if is_mobile:}}
	<div class="mobilecontainer">
	<p><h2><a href="{{=URL(f='squadlist')}}">{{=squad.name}}</a></h2></p>
	<div class="mobilesqdesc"><p><h4>{{=squad.description}}</h4></p></div>
	<table class='mobilesquaddroptable'>
		<thead>
		<tr style="background-color:#fff720;">
            <th> {{if leader.squad_title:}}{{=leader.squad_title}}{{else:}}Squad Leader{{pass}} </th>
            <th>{{=A(db.auth_user(lid).first_name + ' ' + db.auth_user(lid).last_name,  _href=URL(c='default',f='userinfo', args=lid))}}</th>
            <th>{{=db.creature_type(leader.creature_type).name}}</th> 

        </tr>
    {{if members:}}
	{{ for member in members: }}
		{{uid=member.user_id}}
		<tr {{if db.creature_type(member.creature_type).zombie == True:}}style="background-color:#9A1C19;"{{else:}}style="background-color:#9AC548;" {{pass}}>
            <td>{{if member.squad_title:}}{{=member.squad_title}}{{else:}}Member{{pass}}</td>
        <td> {{=A(db.auth_user(uid).first_name + ' ' + db.auth_user(uid).last_name,  _href=URL(c='default',f='userinfo', args=uid))}}</td>
		<td>{{=db.creature_type(member.creature_type).name}}</td>
        </tr>
                    
	{{pass}}
    {{pass}}
        </thead>
    </table>
	
		
			
				





{{else:}}

    <div class="squadbodywrapper">

        {{=A(IMG(_src=URL('download',args=squad.image), _width="960", _class='nospace'), _href=URL(f='squadlist'))}}  
                 
        <div class="sqdesc"><p style="text-align:center;">{{=squad.name}}</p>
           <h4>{{=squad.description}}</h4></p></div>
        <table class='squaddroptable'>
		<thead>
		<tr style="background-color:#fff720;">
            <th> {{if leader.squad_title:}}{{=leader.squad_title}}{{else:}}Squad Leader{{pass}} </th>
            <th>{{=A(db.auth_user(lid).first_name + ' ' + db.auth_user(lid).last_name,  _href=URL(c='default',f='userinfo', args=lid))}}</th>
            <th>{{=db.creature_type(leader.creature_type).name}}</th> 

        </tr>
    {{if members:}}
	{{ for member in members: }}
		{{uid=member.user_id}}
		<tr {{if db.creature_type(member.creature_type).zombie == True:}}style="background-color:#9A1C19;"{{else:}}style="background-color:#9AC548;" {{pass}}>
            <td>{{if member.squad_title:}}{{=member.squad_title}}{{else:}}Member{{pass}}</td>
        <td> {{=A(db.auth_user(uid).first_name + ' ' + db.auth_user(uid).last_name,  _href=URL(c='default',f='userinfo', args=uid))}}</td>
		<td>{{=db.creature_type(member.creature_type).name}}</td>
        </tr>
                    
	{{pass}}
    {{pass}}
        </thead>
    </table>



{{pass}}

<!-- the squad_apps int below is the maximum number of squad-related actions a player can make in a game. -->         
          {{if app:}}
<div class="sqdesc"><INPUT type="button" class="button" value="Apply to join!" onclick="location.href='{{=URL(c='gamectrl', f='applytosquad',args=[squad.id,cpart.id])}}'"/></div>
          {{pass}}
    </div>

	

{{include 'footer.html'}}
