{{include 'header.html'}}
<div>
<h2>{{=post.title}}</h2>
    {{uid=post.author}}
    <h3>Posted by {{if db.auth_user(uid).handle:}}
                {{=A(db.auth_user(uid).handle,  _href=URL(c='default',f='userinfo', args=uid))}}
                {{else:}}
                {{=A(db.auth_user(uid).first_name + ' ' + db.auth_user(uid).last_name,  _href=URL(c='default',f='userinfo', args=uid))}}
                {{pass}} on {{=prettydate(post.pub_date)}}</h3>
{{=XML(post.description,sanitize=True)}}

    
<p>

</div>
{{try:}}
{{=form}}
{{except:}}
{{pass}}

{{include 'footermin.html'}}
