{{include 'header.html'}}
{{is_mobile=request.user_agent().is_mobile}}
{{if is_mobile:}}
<!--Mobile view-->



<div class="mobilecontainer">

<div class="mobilemissionheader"> 
    <h1>{{=mission.name}}</h1>
</div>
<div class="mobilegamevars">
{{=pretty_date(mission.mission_start)}} to {{=pretty_date(mission.mission_end)}}
</div>
<div class="mobilegamevars">
{{=mission.stun_timer}} Minute Stun Timer
</div>

<div class="mobilemissioncontentbox">
<div class="mobilemissioncontenttext">
{{= XML(mission.details)}}
    </div>
  <div class="mobilemissionpicturebox"> 
    <img src="{{=URL('download',args=[mission.image])}}" width=320 onclick="location.href='{{=URL('download',args=[mission.image])}}'" />
    </div>
</div>

</div>




{{else:}} 
<!--Desktop view-->

<div class="missionheader"> 
    <h1>{{=mission.name}}</h1>
</div>
<div class="gamevars">
{{=pretty_date(mission.mission_start)}} to {{=pretty_date(mission.mission_end)}}
</div>
<div class="gamevars">
{{=mission.stun_timer}} Minute Stun Timer
</div>

<div class="missioncontentbox">
<div class="missioncontenttext">
{{= XML(mission.details)}}
    </div>
  <div class="missionpicturebox"> 
    <img src="{{=URL('download',args=[mission.image])}}" width=430 onclick="location.href='{{=URL('download',args=[mission.image])}}'" />
    </div>
</div>


{{pass}}
{{include 'footer.html'}}
