{{include 'header.html'}}
<div id='post_snippet'>
		
		<h2>Create a game</h2>
		{{if auth.is_logged_in() == True:}}
				{{=form}}
		{{else:}}
            You need to login!	
		{{pass}}
		</div>
        
{{include 'footer.html'}}
