{{include 'header.html'}}
<div class="web2py_grid ">
	<table>
	<thead>
	{{if auth.is_logged_in() == True and auth.has_membership('admins'):}}     
		<tr>
        <th>Game Name</th>
         <th>Cure Code</th>
        <th>Expiration</th>
            <th>Used</th>
		<th>Options</th>
        </tr>
	
	{{ for cure in cures: }}
        <tr>
        {{expired = isexpired(cure)}}
        <td>{{=db.games(cure.game_id).game_name}}</td>
        <td>{{=cure.curecode}}</td>
            {{if expired:}}
            <td style="background-color:red;">{{=converttotz(cure.expiration)}}</td>
            {{else:}}
            <td style="background-color:green;">{{=converttotz(cure.expiration)}}</td>
            {{pass}}
            {{if cure.used:}}
            <td style="background-color:red;">{{=cure.used}}</td>
            {{else:}}
            <td style="background-color:green;">{{=cure.used}}</td>
            {{pass}}
        <td><a href= "{{=URL(r=request, f='editcure', args=cure.id)}}">  Edit/Delete </a></td>
        </tr>           
    {{pass}}
	{{pass}}
    </thead>
    </table>
    
<INPUT type="button" class="button" value="Generate a Cure code" onclick="location.href='{{=URL(c='admin', f='createcure')}}'"/>

<br/>

{{include 'footer.html'}}
