{{include 'header.html'}}
<div class="web2py_grid ">
	<table>
	<thead>
	{{ for game in games: }}

	{{if auth.is_logged_in() == True and auth.has_membership('admins'):}}     
		<tr>
        <th><a href= "{{=URL(r=request, f='editgame', args=game.id)}}"> {{=game.game_name}}</a></th>
        <th>{{=converttotz(game.start_at)}} to {{=converttotz(game.end_at)}}</th>
		<th><a href= "{{=URL(r=request, f='viewgameusers', args=[game.id,0])}}"> Players </a></th>
        <th><a href= "{{=URL(r=request, f='ozlist', args=game.id)}}"> OZ Pool </a></th>
        </tr>
                    
    {{pass}}
	{{pass}}
        </thead>
    </table>
    <INPUT type="button" class="button" value="Create a new Game"
onclick="location.href='{{=URL(r=request, f='creategame')}}'"/>
</div>

<br/>

{{include 'footermin.html'}}
