{{include 'header.html'}}
<div class="web2py_grid ">
	<table>
	<thead>
	{{if auth.is_logged_in() == True and auth.has_membership('admins'):}}     
		<tr>
        <th>Game</th>
        <th>Name</th>
        <th>Unlock</th>
        <th>Start</th>
		<th>End</th>
        <th>Stun Timer</th>
        <th>Options</th>
        </tr>
	
	{{ for mission in missions: }}
        <tr>
        <td>{{=db.games(mission.game_id).game_name}}</td>
        <td>{{=mission.name}}</td>
        <td>{{=converttotz(mission.mission_reveal)}}</td>
        <td>{{=converttotz(mission.mission_start)}}</td>
        <td>{{=converttotz(mission.mission_end)}}</td>
		<td>{{=mission.stun_timer}} mins</td>
        <td><a href= "{{=URL(r=request, f='editmission', args=mission.id)}}">  Edit </a></td>
        </tr>           
    {{pass}}
	{{pass}}
        </thead>
    </table>
    
<INPUT type="button" class="button" value="Create a new mission" onclick="location.href='{{=URL(c='admin', f='createmission')}}'"/>

<br/>

{{include 'footer.html'}}
