{{include 'header.html'}}
	<div id='inviswrapper'>
	<table id='tablestyle'>
	<tr>
        <th> Name</th>
        <th> Status </th>
        <th> Starve Timer </th>
        <th> Bitecode </th>
        <th> Email </th>
        <th colspan=2> Options </th>
    </tr>  
	{{ for user in users: }}
        <tr>
        	{{uid=user.user_id}}
			<td>
			<a href="{{=db.auth_user(uid).registration_id}}">{{=db.auth_user(uid).first_name}} {{=db.auth_user(uid).last_name}}</a>
        	</td>
        	<td>{{=db.creature_type(user.creature_type).name}}</td>
        	{{if db.creature_type(user.creature_type).immortal == True:}}
            	<td> Immortal! </td>
        	{{else:}}
            	<td>{{=user.zombie_expires_at}}</td>
        	{{pass}}
            <td>{{=user.bitecode}}</td>
        	<td>{{=db.auth_user(uid).email}}</td>
            <td><a href= "{{=URL(r=request, f='editgamepart', args=user.id)}}">  Edit </a></td>
            <td> <INPUT type="button" value="Make OZ" onclick="location.href='{{=URL(c='gamectrl', f='makeoz', args=[user.id])}}'"/></td>
        </tr>
        
	{{pass}}
	</table>
	<br/>
</div>

<br/>
{{include 'footer.html'}}
