{{include 'header.html'}}
<div class="web2py_grid">
	<table>
	<thead>
	{{ for req in regreq: }} 
        	{{creator=db.auth_user(req.user_id)}}     
			<tr>
       		<th>{{=db.games(req.game_id).game_name}}</th>
        	<th>{{=A(creator.first_name + ' ' + creator.last_name,  _href=URL(c='default',f='userinfo',args=creator.id))}}</th>
        	<th><INPUT type="button" value="Approve" onclick="location.href='{{=URL(c='admin', f='approveregreq', args=[req.id])}}'"/></th>
        	<th><INPUT type="button" value="Deny" onclick="location.href='{{=URL(c='admin', f='denyregreq', args=[req.id])}}'"/></th>
        	</tr>
            <tr>
                <td colspan=4>
                   <h4>
                       Reason: {{=req.appeal}}                       
                    </h4>
                </td>
            </tr>
	{{pass}}
        </thead>
    </table>
</div>

<br/>

{{include 'footermin.html'}}
