{{include 'header.html'}}
<div class="web2py_grid ">
	<table>
	<thead>
	{{ for squad in squadsapp: }}
        {{if not squad.reviewed:}} 
			{{if auth.is_logged_in() == True and auth.has_membership('admins'):}}
        	{{creator=db.auth_user(db.game_part(squad.leader).user_id)}}     
			<tr>
       		<th>{{=db.games(squad.game_id).game_name}}</th>
        	<th>{{=squad.name}}</th>
        	<th>{{=A(creator.first_name + ' ' + creator.last_name,  _href=URL(c='default',f='userinfo',args=creator.id))}}</th>
			<th>{{=A('Image', _href=URL(c='default',f='download', args=squad.image))}}</th>
        	<th><INPUT type="button" value="Approve" onclick="location.href='{{=URL(c='admin', f='approvesquadapp', args=[squad.id])}}'"/></th>
        	<th><INPUT type="button" value="Deny" onclick="location.href='{{=URL(c='admin', f='denysquadapp', args=[squad.id])}}'"/></th>
        	</tr>
    		{{pass}}                
    	{{pass}}
	{{pass}}
        </thead>
    </table>
</div>

<br/>

{{include 'footermin.html'}}
