{{include 'header.html'}}
	<div id='inviswrapper'>
<div class="web2py_grid ">
	<table>
	<thead>
	<tr>
        <th> Name</th>
        <th> UserID</th>
        <th> Status </th>
        <th> Starve Timer </th>
        <th> Bitecode </th>

        <th> Options </th>
    </tr>  
        </thead>
 

        {{for user in users:}}
        <tr>
        	{{uid=user.user_id}}
			<td>
			<a href="{{=db.auth_user(uid).registration_id}}">{{=db.auth_user(uid).first_name}} {{=db.auth_user(uid).last_name}}</a>
        	</td>
            <td>{{=user.user_id}}</td>
        	<td>{{=db.creature_type(user.creature_type).name}}</td>
        	{{if db.creature_type(user.creature_type).immortal == True:}}
            	<td> Immortal! </td>
        	{{else:}}
            	<td>{{=user.zombie_expires_at}}</td>
        	{{pass}}
            <td>{{=user.bitecode}}</td>

            <td><a href= "{{=URL(r=request, f='editgamepart', args=user.id)}}"> @ </a>
                <a href= "{{=URL(r=request, f='regencode', args=[user.id,gid,page])}}"> Regencode </a>
            
            </td>
        </tr>
        
	{{pass}}
	</table>
        </div>
        
        {{if page:}}
          <INPUT type="button" value="Previous" onclick="location.href='{{=URL(args=[gid,page-1])}}'"/>
          {{pass}}

           {{if len(users)>items_per_page:}}
             <INPUT type="button" value="Next" onclick="location.href='{{=URL(args=[gid,page+1])}}'"/>
            {{pass}}    
        
        
	
	<br/>
	<a href= "{{=URL(r=request, f='creategamepart', args=user.id)}}"> Add a player to the game! </a>
</div>

<br/>
{{include 'footermin.html'}}
