{{include 'header.html'}}
<div id='inviswrapper'>
	<table id='tablestyle'>
	<tr>
        <th> Creature Name </th>
        <th> Type </th>
        <th> Immortal </th>
        <th> id# </th>
    </tr>    
{{ for type in creatures: }}
	<tr>
        <td><a href= "{{=URL(r=request, f='edittype', args=type.id)}}">{{=type.name}}</a></td>
      <td> {{if type.zombie == True:}}  
            Zombie
            {{else:}} 
            Human
        {{pass}}</td>
        <td>{{=type.immortal}}</td>
        <td>{{=type.id}}</td>
    </tr>
{{pass}}
</table>
</div>
{{include 'footer.html'}}
