{{include 'header.html'}}
{{is_mobile=request.user_agent().is_mobile}}
{{if is_mobile:}}
<!--Mobile view-->



<div class="mobilecontainer">

<div class="mobilemissionbox">
      
                 <table class='forumtable'>
                    <thead>
                        <tr>
                            <th colspan=2>{{=A(db.forum_cats(forum.cat_id).name,  _href=URL(c='forums',f='viewcat', args=db.forum_cats(forum.cat_id).id))}} > {{=forum.name}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{if threads:}}
                        {{n=1}}
                    {{for thread in threads:}}
                        
                        <tr {{if n%2==0:}} class="even" {{else:}} class="odd" {{pass}} data-href="{{=URL(r=request, f='viewthread', args=thread.id)}}">   
                            <td>{{if auth.has_membership('admins'):}} {{=A(" @ ",  _href=URL(c='forums',f='editthread', args=thread.id))}}  {{pass}}{{=thread.name}}  </td>
                        <td>{{uid =thread.author}}
                                {{if db.auth_user(uid).handle:}}
                                {{=A(db.auth_user(uid).handle,  _href=URL(c='default',f='userinfo', args=uid))}}
                                {{else:}}
                                {{=A(db.auth_user(uid).first_name + ' ' + db.auth_user(uid).last_name,_href=URL(c='default',f='userinfo', args=uid))}}
                                {{pass}}                        
                        
                        </td>
                    </tr>
                        {{n=n+1}}
                        {{pass}}
                        {{pass}}
                    </tbody>
                </table>

  
   
            <script>
                $(document).ready(function() {
                    $('tbody tr[data-href]').addClass('clickable').click( function() { 
                        window.location = $(this).attr('data-href'); 
                    }).find('a').hover( function() { 
                        $(this).parents('tr').unbind('click'); 
                    }, function() { 
                        $(this).parents('tr').click( function() { 
                            window.location = $(this).attr('data-href'); 
                        }); 
                    }); 
                });  
        </script>
    </div> 
</div>
{{=A(DIV('Create a Thread', _class="forumpostbutton"),_href=URL(c='forums',f='createthread', args=forum.id))}}




{{else:}} 
<!--Desktop view-->

<div class="infoboxwrapper">
    <div class="forumbox">
        
                
                <table class='forumtable'>
                    <thead>
                        <tr>
                            <th colspan=2>{{=A(db.forum_cats(forum.cat_id).name,  _href=URL(c='forums',f='viewcat', args=db.forum_cats(forum.cat_id).id))}} > {{=forum.name}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{if threads:}}
                        {{n=1}}
                    {{for thread in threads:}}
                        
                        <tr {{if n%2==0:}} class="even" {{else:}} class="odd" {{pass}} data-href="{{=URL(r=request, f='viewthread', args=thread.id)}}">   
                            <td>{{if auth.has_membership('admins'):}} {{=A(" @ ",  _href=URL(c='forums',f='editthread', args=thread.id))}}  {{pass}}{{=thread.name}}  </td>
                        <td>{{uid =thread.author}}
                                {{if db.auth_user(uid).handle:}}
                                {{=A(db.auth_user(uid).handle,  _href=URL(c='default',f='userinfo', args=uid))}}
                                {{else:}}
                                {{=A(db.auth_user(uid).first_name + ' ' + db.auth_user(uid).last_name,_href=URL(c='default',f='userinfo', args=uid))}}
                                {{pass}}                        
                        
                        </td>
                    </tr>
                        {{n=n+1}}
                        {{pass}}
                        {{pass}}
                    </tbody>
                </table>
        
   
            <script>
                $(document).ready(function() {
                    $('tbody tr[data-href]').addClass('clickable').click( function() { 
                        window.location = $(this).attr('data-href'); 
                    }).find('a').hover( function() { 
                        $(this).parents('tr').unbind('click'); 
                    }, function() { 
                        $(this).parents('tr').click( function() { 
                            window.location = $(this).attr('data-href'); 
                        }); 
                    }); 
                });  
        </script>
    </div> 
  
</div>


{{=A(DIV('Create a Thread', _class="forumpostbutton"),_href=URL(c='forums',f='createthread', args=forum.id))}}
{{pass}}

{{include 'footer.html'}}
