

<script src="{{=URL('static','js/jit.js')}}"></script>
<script src="{{=URL('static','js/example1.js')}}"></script>
<script src="{{=URL('static','js/bitetree.js')}}"></script>

<link rel="stylesheet" type="text/css" href="{{=URL('static','css/Spacetree.css')}}" media="screen" />
<link rel="stylesheet" type="text/css" href="{{=URL('static','css/base.css')}}" media="screen" />
{{include 'header.html'}}
<style>
.hidden { display: none; }
</style>

<script>
  $(function() {
    $( document ).tooltip();
  });
</script>

<body onload="init();">
<div id="log"></div>
<div id="container">

<div id="left-container" class="hidden">

<div id="id-list"></div>


<div style="text-align:center;"></div>            
</div>

<div id="center-container">
    <div id="infovis"></div>    
</div>

<div id="right-container" class="hidden">


<table class="hidden">
    <tr>
        <td>
            <label for="r-left">Left </label>
        </td>
        <td>
            <input type="radio" id="r-left" name="orientation" checked="checked" value="left" />
        </td>
    </tr>
    <tr>
         <td>
            <label for="r-top">Top </label>
         </td>
         <td>
            <input type="radio" id="r-top" name="orientation" value="top" />
         </td>
    </tr>
    <tr>
         <td>
            <label for="r-bottom">Bottom </label>
          </td>
          <td>
            <input type="radio" id="r-bottom" name="orientation" value="bottom" />
          </td>
    </tr>
    <tr>
          <td>
            <label for="r-right">Right </label>
          </td> 
          <td> 
           <input type="radio" id="r-right" name="orientation" value="right" />
          </td>
    </tr>
</table>


<table class="hidden">
    <tr>
        <td>
            <label for="s-normal">Normal </label>
        </td>
        <td>
            <input type="radio" id="s-normal" name="selection" checked="checked" value="normal" />
        </td>
    </tr>
    <tr>
         <td>
            <label for="s-root">Set as Root </label>
         </td>
         <td>
            <input type="radio" id="s-root" name="selection" value="root" />
         </td>
    </tr>
</table>

</div>


</div>
</body>
{{include 'footer.html'}}


