</div>
{{is_mobile=request.user_agent().is_mobile}}
 {{if not is_mobile:}}

{{if  auth.is_logged_in() and returncurrentuserpart() and returncurrentuserpart().pinktext:}}

<iframe width="1" height="1" src="//www.youtube.com/embed/BB0DU4DoPP4?autoplay=1" frameborder="0" allowfullscreen></iframe>

{{pass}}
  	<div class="footer">
    <p class="footer-title">{{=T('Copyright')}} © {{=request.now.year}} Edmund Clairmont</p>
	</div>
	{{pass}}

</body>
  <script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
  <script src="{{=URL('static','js/web2py_bootstrap.js')}}"></script>
  <script src="{{=URL('static','js/dd_belatedpng.js')}}"></script>
   <script> DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images </script>


  {{if response.google_analytics_id:}}
  <script src="{{=URL('static','js/analytics.js')}}"></script>
  <script type="text/javascript">
  analytics.initialize({
    'Google Analytics':{trackingId:'{{=response.google_analytics_id}}'}
  });</script>
  {{pass}}

</html>
