</div>



<div class="footer">
 <hr class="styled">

    <p class="footer-title">{{=T('Copyright')}} © {{=request.now.year}} Edmund Clairmont</p>
</div>
</div>
</body>
  <script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
  <script src="{{=URL('static','js/web2py_bootstrap.js')}}"></script>
  <script src="{{=URL('static','js/dd_belatedpng.js')}}"></script>
   <script> DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images </script>
     
  
  {{if response.google_analytics_id:}}
  <script src="{{=URL('static','js/analytics.js')}}"></script>
  <script type="text/javascript">
  analytics.initialize({
    'Google Analytics':{trackingId:'{{=response.google_analytics_id}}'} 
  });</script>
  {{pass}}

</html>
