<!DOCTYPE html>
{{is_mobile=request.user_agent().is_mobile}}

<html {{if is_mobile:}} class="no-js mobilebg" {{else:}}class="no-js desktopbg" {{pass}} lang="{{=T.accepted_language or 'en'}}" > 
<head>

	<meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">


  <title>UMASSHvZ</title>
  <meta name="title" content="UMASSHvZ" /> 
  <meta name="description" content="UMASSHvZ's Pandemic Engine 1.0" />
  <link rel="image_src" href="http://i.imgur.com/QDGEJpR.png" />
  <meta name="google-site-verification" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
  <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=148476551982686";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  <script src="{{=URL('static','js/modernizr.custom.js')}}"></script>

  {{  
  response.files.append(URL('static','css/web2py.css'))
  response.files.append(URL('static','css/bootstrap.min.css'))
  response.files.append(URL('static','css/web2py_bootstrap.css'))
  }}
  {{include 'web2py_ajax.html'}}

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-44859623-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>    
    
       <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" type="text/css" media="all" />
       <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>

  <noscript><link href="{{=URL('static', 'css/web2py_bootstrap_nojs.css')}}" rel="stylesheet" type="text/css" /></noscript>

</head>


  <!-- Navbar -->
    <div class="navbar navbar-inverse {{if not is_mobile:}}navbar-fixed-top{{pass}}">
    
        {{if not is_mobile:}} <div class="flash">{{=response.flash or ''}}</div> {{pass}}
    <div class="navbar-inner">
        {{if is_mobile:}}
        <div class="mobilecontainer">
            {{else:}}
        <div class="container">
            {{pass}}

        <!-- the next tag is necessary for bootstrap menus, do not remove -->
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
       {{if is_mobile:}} 
           <ul id="navbar">  
           {{if auth.is_logged_in():}}
               <a href= "{{=URL(r=request, c='default', f='user/logout')}}">Logout</a>
               {{else:}}
               <a href= "{{=URL(r=request, c='default', f='user')}}">Login</a>
               {{pass}}
           {{else:}} 
               <ul id="navbar" class="nav pull-right">      
               {{='auth' in globals() and auth.navbar(mode="dropdown") or ''}}
       		   {{if auth.is_logged_in():}}
               <a href="http://facebook.com/people/@/{{=auth.user.registration_id}}"><img id="profilepic"  width="40" height="40" src="{{=fbphoto(auth.user.registration_id)}}" /></a>
		       {{pass}}
	       {{pass}}
        </ul>
	{{if auth.is_logged_in() and auth.has_membership('admins'):}} 
            <div class="nav-collapse">
            {{=MENU(response.adminmenu, _class='nav',mobile=is_mobile,li_class='dropdown',ul_class='dropdown-menu')}}
            </div>
        {{pass}}

        <div class="nav-collapse">
          
          {{if response.menu:}}
          	   {{=MENU(response.menu, _class='mobile-menu nav' if is_mobile else 'nav',mobile=is_mobile,li_class='dropdown',ul_class='dropdown-menu')}}
          {{pass}}
          {{if auth.is_logged_in():}}
            		{{if response.squadmenu:}}   
            			{{=MENU(response.squadmenu, _class='mobile-menu nav' if is_mobile else 'nav',mobile=is_mobile,li_class='dropdown',ul_class='dropdown-menu')}} 
            		{{pass}}
            		{{if response.statusmenu:}}   
            			{{=MENU(response.statusmenu, _class='mobile-menu nav' if is_mobile else 'nav',mobile=is_mobile,li_class='dropdown',ul_class='dropdown-menu')}}  						
            		{{else:}}
            		{{pass}}
            		
          {{pass}}
         {{=MENU(response.landing, _class='mobile-menu nav' if is_mobile else 'nav',mobile=is_mobile,li_class='dropdown',ul_class='dropdown-menu')}}
        </div>


      </div>
     
    </div>

  </div><!--/top navbar -->
<body>
    
    {{if is_mobile:}}
    <div class='mobilewrapper'>
	{{else:}}
    <div class='bgcontainer'>
	{{pass}}
