{{include 'header.html'}}
{{is_mobile=request.user_agent().is_mobile}}
{{if is_mobile:}}
<!--Mobile view-->



<div class="mobilecontainer">

<div class="mobilemissionbox">
        {{if forums:}}
                <table class='missiontable'>
                    <thead>
                        <tr>
                            <th>{{=forum.name}}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{for forum in forums:}}
                        
                    <tr class='open' data-href="{{=URL(r=request, f='viewthreads', args=forum.id)}}">         
                        <td>{{=forum.name}}</td>
                    </tr>
                           
                      
                        {{pass}}
                    </tbody>
                </table>

        {{pass}}
   
            <script>
                $(document).ready(function() {
                    $('tbody tr[data-href]').addClass('clickable').click( function() { 
                        window.location = $(this).attr('data-href'); 
                    }).find('a').hover( function() { 
                        $(this).parents('tr').unbind('click'); 
                    }, function() { 
                        $(this).parents('tr').click( function() { 
                            window.location = $(this).attr('data-href'); 
                        }); 
                    }); 
                });  
        </script>
    </div> 
</div>
{{=A(DIV('Create a new post', _class="forumpostbutton"),_href=URL(c='forums',f='createpost', args=thread.id))}}




{{else:}} 
<!--Desktop view-->

<div class="landingheader"><h1>UMASSHVZ</h1></div>
<div class="infoboxwrapper">
    <div class="forumbox">
       
                
                <table class='forumtable'>
                    <thead>
                        <tr>
                            
                            <th colspan=2>{{=A(db.forum_forums(thread.forum_id).name,  _href=URL(c='forums',f='viewforum', args=db.forum_forums(thread.forum_id).id))}} > {{=thread.name}}</th>
                        </tr>
                    </thead>
                    <tbody>
                         {{if posts:}}
                        {{n=1}}
                    {{for post in posts:}}
                        {{uid=post.author}}
                        
                        
                    <tr>        
                
                        <td style="background-color:#454545;"><div class="forum_posts_userinfo">
                            
                            {{if db.auth_user(uid).handle:}}
                                {{=A(db.auth_user(uid).handle,  _href=URL(c='default',f='userinfo', args=uid))}}
                                {{else:}}
                                {{=A(db.auth_user(uid).first_name + ' ' + db.auth_user(uid).last_name,_href=URL(c='default',f='userinfo', args=uid))}}{{pass}}
                            <div class="propic">
            {{=A(IMG(_src=fbphoto(db.auth_user(uid).registration_id), _width="50", _height="50", _id="profilepic"), _href=db.auth_user(uid).registration_id)}}
            </div>
                            </div>
                        </td>
                        <td width="90%" {{if n%2==0:}} class="even" {{else:}} class="odd" {{pass}}><div class="forum_posts">{{=XML(post.body, sanitize=False,permitted_tags=['a', 'b', 'blockquote', 'br/', 'i', 'li','ol', 'ul', 'p', 'cite', 'code', 'pre', 'img/'],allowed_attributes={'a':['href', 'title'],'img':['src', 'alt'], 'blockquote':['type']})}}<p>
                            <div style="position:relative; bottom:0px; padding:0px;">
                                
                                {{if post.edited:}}
                                {{postdate="Edited: " + prettydate(post.edited)}}
                                {{else:}}
                                {{postdate=prettydate(post.created)}}
                                {{pass}}
                                {{=postdate}}
                                {{if post.author == auth.user.id or auth.has_membership('admins'):}}
                                {{=A(DIV('Edit', _class="forumpostbutton"),_href=URL(c='forums',f='editpost', args=post.id))}}
                                {{pass}}
                            </div>
                           
                            </div> </td>
                    </tr>
                        
                        {{n=n+1}}
                        {{pass}}
                        {{pass}}
                        {{pass}}
                    </tbody>
                </table>
        
   
    </div> 
</div>

<div style="height:100px;width:960px;">
    
</div>
{{=A(DIV('Post', _class="forumpostbutton"),_href=URL(c='forums',f='createpost', args=thread.id))}}
{{pass}}

{{include 'footer.html'}}
