{{include 'header.html'}}
{{is_mobile=request.user_agent().is_mobile}}
{{if is_mobile:}}
<!--Mobile view-->



<div class="mobilecontainer">

<div class="mobilemissionbox">
		{{if forums:}}
                <table class='missiontable'>
                	<thead>
                		<tr>
                            <th>{{=cat.name}}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{for forum in forums:}}
                        
                    <tr class='open' data-href="{{=URL(r=request, f='viewforum', args=forum.id)}}">         
                        <td>{{=forum.name}}</td>
                    </tr>
                           
                      
                        {{pass}}
                    </tbody>
                </table>

		{{pass}}
   
    	 	<script>
				$(document).ready(function() {
        			$('tbody tr[data-href]').addClass('clickable').click( function() { 
        				window.location = $(this).attr('data-href'); 
    				}).find('a').hover( function() { 
        				$(this).parents('tr').unbind('click'); 
    				}, function() { 
        				$(this).parents('tr').click( function() { 
            				window.location = $(this).attr('data-href'); 
        				}); 
    				}); 
				});  
        </script>
	</div>	
</div>





{{else:}} 
<!--Desktop view-->

<div class="landingheader"><h1>UMASSHVZ</h1></div>
<div class="infoboxwrapper">
	<div class="forumbox">

                
                <table class='forumtable'>
                	<thead>
                		<tr>
                            <th colspan=2>{{=cat.name}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{if forums:}}
                        {{n=1}}
                    {{for forum in forums:}}
                        
                        
                    <tr {{if n%2==0:}} class="even" {{else:}} class="odd" {{pass}} data-href="{{=URL(r=request, f='viewforum', args=forum.id)}}">         
                        <td>{{=forum.name}} </td>
                        <td>{{=forum.description}} </td>
                    </tr>
                        {{n=n+1}}
                        {{pass}}
                        {{pass}}
                    </tbody>
                </table>

   
    	 	<script>
				$(document).ready(function() {
        			$('tbody tr[data-href]').addClass('clickable').click( function() { 
        				window.location = $(this).attr('data-href'); 
    				}).find('a').hover( function() { 
        				$(this).parents('tr').unbind('click'); 
    				}, function() { 
        				$(this).parents('tr').click( function() { 
            				window.location = $(this).attr('data-href'); 
        				}); 
    				}); 
				});  
        </script>
	</div> 
  
</div>


<div class="bodybox">

</div>
{{pass}}

{{include 'footer.html'}}
