@font-face { font-family: Asymptom; src: url('aesymatt.ttf'); } 
@font-face { font-family: Asymptom; font-weight: bold; src: url('aesymatt.ttf');}
@font-face { font-family: pressstart2p; src: url('pressstart2p.ttf');}



body {
  font-family:"Comic Sans MS", cursive, sans-serif;
  color:#1FFF39;
  font-size:10px;
  margin:0;
  padding:0;
  height:100%;
}

.arial {
font-family:"Comic Sans MS", cursive, sans-serif;
}

.navbar {
font-family:"Comic Sans MS", cursive, sans-serif;
font-size:1.5em;
}



hr.styled { 
	border: 0; 
	height: 1px; 
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
	background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}


img.desaturate{
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%); 
	-o-filter: grayscale(100%);
	filter: url(desaturate.svg#greyscale);
	filter: gray;
}

#profilepic {
border: 0px
display:block;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

html.desktopbg{
	background: url(catstop.jpg); 
	background-repeat:repeat-y repeat-x;
	background-color:#D0118D;
}

a:link {text-decoration: none !important;}
a:visited {text-decoration: none !important;}
a:hover { text-decoration: none !important;}
a:active {text-decoration: none !important;}

a.topmenu {
	text-align:center;
	color:#ffffff;
}

a.headerhvz{
  font-family:"Comic Sans MS", cursive, sans-serif;
  color:#ffffff;
}


#rostermenu {
   width:100%;
   overflow:hidden;
   position:relative;
}
#rostermenu ul {
   clear:left;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   left:50%;
   text-align:center;
}
#rostermenu ul li {
   display:block;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   right:50%;
}
#rostermenu ul li a {
   color:#fff;
   display:block;
   margin:0 0 0 1px;
   padding:3px 10px;
   text-decoration:none;
   line-height:1.3em;
}
#rostermenu ul li a:hover {
   background:#369;
   color:#fff;
}
#rostermenu ul li a.active,
#rostermenu ul li a.active:hover {
   color:#fff;
   background:#000;
   font-weight:bold;
}

#rosterlist {
	background: #341931;
	color: #ffffff;
	padding: 10px;
	border-radius: 5px;
 }
 
#rostertext{
line-height: 50px;
} 

#rosterwrap ul li { 
	display: inline-block; float: none 
	padding-right: 20px;
}

h1{
text-align:center;
font-family:"Comic Sans MS", cursive, sans-serif;
color:white;
}

h2{
font-family:"Comic Sans MS", cursive, sans-serif;
color:white;
}

h3{
font-family:"Comic Sans MS", cursive, sans-serif;
}
h4{
	font-family:"Comic Sans MS", cursive, sans-serif;
	font-size: 1.2em;
	font-weight: bold;
}
#headerhvz{
  font-family:"Comic Sans MS", cursive, sans-serif;
}

#tablestylepro{
font-family: "Comic Sans MS", cursive, sans-serif;
width:100%;
border-collapse:collapse;
vertical-align:middle;
}
#tablestylepro td {

}
#tablestylepro td, #tablestylepro th {
font-size:1em;
border:1px solid #000000;
padding:3px 7px 2px 7px;
vertical-align:middle;
}
#tablestylepro th {
font-family:"Comic Sans MS", cursive, sans-serif;

background-position:initial initial;
background-repeat:repeat no-repeat;
font-size:1.3em;
text-align:left;
padding-top:1px;
padding-bottom:4px;

color:#fff;
}
#tablestylepro tr.alt td {
color:#fff;
}


#tablestylegrey{
font-family: "Comic Sans MS", cursive, sans-serif;
width:100%;
border-collapse:collapse;
}
#tablestylegrey td {
background-color:#6f6f6f;
}
#tablestylegrey td, #tablestylegrey th {
font-size:1em;
border:1px solid #000000;
padding:3px 7px 2px 7px;
vertical-align:middle;
}
#tablestylegrey th {
border:1px solid #000000;
font-family:"Comic Sans MS", cursive, sans-serif;
background-image:url(tablegradg.png);
background-position:initial initial;
background-repeat:repeat no-repeat;
font-size:1.5em;
text-align:left;
padding-top:1px;
padding-bottom:4px;
background-color:#6f6f6f;
color:#000000;
}


#tablestylered tr.alt td {
color:#000000;
background-color:#ff4343;
}
#tablestylered{
font-family:"Comic Sans MS", cursive, sans-serif;
width:100%;
border-collapse:collapse;
}
#tablestylered td {
background-color:#ff4343;
}
#tablestylered td, #tablestylered th {
font-size:1em;
border:1px solid #000000;
padding:3px 7px 2px 7px;
vertical-align:middle;
}
#tablestylered th {
border:1px solid #000000;
font-family:"Comic Sans MS", cursive, sans-serif;
background-image:url(tablegradz.png);
background-position:initial initial;
background-repeat:repeat no-repeat;
font-size:1.5em;
text-align:left;
padding-top:1px;
padding-bottom:4px;
background-color:#ff4343;
color:#000000;
}
#tablestylered tr.alt td {
color:#000000;
background-color:#ff4343;
}


#tablestyle{
font-family:"Comic Sans MS", cursive, sans-serif;
width:100%;
border-collapse:collapse;
vertical-align:middle;
}
#tablestyle td {
background-color:#3284ff;
}
#tablestyle td, #tablestyle th {
font-size:1em;
border:1px solid #000000;
padding:3px 7px 2px 7px;
vertical-align:middle;
}
#tablestyle th {
font-family:"Comic Sans MS", cursive, sans-serif;
background-image:url(tablegrad.png);
background-position:initial initial;
background-repeat:repeat no-repeat;
font-size:1.5em;
text-align:left;
padding-top:1px;
padding-bottom:4px;
background-color:#3284ff;
color:#000000;
}
#tablestyle tr.alt td {
color:#000000;
background-color:#f2d3ec;
}


.propic{
text-align:center;
padding-top:2px;
}

.humanrostertable {
color:black;
width:100%;
border-collapse:collapse;

}

.humanrostertable a{
color:black;
}

.humanrostertable tr.odd{
background-color:#9AC548;
}

.humanrostertable tr.even{
background-color:#668F17;
}

.humanrostertable  th{
font-size:1.7em;
font-family:"Comic Sans MS", cursive, sans-serif;
background-color:#2F4603;
border-collapse:collapse;
border-bottom:2px solid;
text-align:center;

}

.humanrostertable  td{
font-size:1em;
font-family:"Comic Sans MS", cursive, sans-serif;
border-collapse:collapse;
padding-left:5px;
}


.humanrostertable  td.bigtext{
font-size:1.1em;
font-family: "Comic Sans MS", cursive, sans-serif;
border-collapse:collapse;
padding-left:5px;
text-align:center;
}


.zombierostertable {
color:black;
width:100%;
border-collapse:collapse;

}

.zombierostertable tr.odd{
background-color:#CB6D6B;
}

.zombierostertable tr.even{
background-color:#CB4D4A;
}

.zombierostertable a{
color:black;
}

.zombierostertable  th{
font-size:1.7em;
font-family:  "Comic Sans MS", cursive, sans-serif;
background-color:#9A1C19;
border-collapse:collapse;
border-bottom:2px solid;
text-align:center;

}

.zombierostertable  td{
font-size:1em;
font-family:"Comic Sans MS", cursive, sans-serif;
border-collapse:collapse;
padding-left:5px;
}

.zombierostertable  td.bigtext{
font-size:1.1em;
font-family:"Comic Sans MS", cursive, sans-serif;
border-collapse:collapse;
padding-left:5px;
text-align:center;
}

.deadrostertable {
color:black;
width:100%;
border-collapse:collapse;

}

.deadrostertable tr.odd{
background-color:#434343;
}

.deadrostertable tr.even{
background-color:#717171;
}

.deadrostertable a{
color:black;
}

.deadrostertable  th{
font-size:1.7em;
font-family: "Comic Sans MS", cursive, sans-serif;
background-color:#454545;
border-collapse:collapse;
border-bottom:2px solid;
text-align:center;

}

.deadrostertable  td{
font-size:.9em;
font-family: "Comic Sans MS", cursive, sans-serif;
border-collapse:collapse;
padding-left:5px;
}

.deadrostertable  td.bigtext{
font-size:1.1em;
font-family: "Comic Sans MS", cursive, sans-serif;
border-collapse:collapse;
padding-left:5px;
text-align:center;
}

.nospace {
	display: block;
}

.squadbodywrapper{
	width:960px;
}

.squadpostwrapper{
	width:520px;
	float:left;
}

.squadfeedboxwrapper{
	width:425px;
	height:500px;
	float:right;
}

.squadfeed{
	width:425px;
	height:100%;
	background-color:#3284ff;
}

.squadinfo{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	border:2px solid black;
}

#squadtable{
	border-collapse: collapse;
	border-spacing: 0;
	display: block;
	font-size: 0;
}

#squadtable td, th, tr{
padding: 0; /* 'cellpadding' equivalent */
}

#squadtable td, th, tr{
padding: 0; /* 'cellpadding' equivalent */
}

.alignleft a {
	color:white;
	padding: 1em;
	float: left;
}
.alignright a{
	color:white;
	padding: 1em;
	float: right;
}

.centertext {
	text-align:center;

}

.imgcenter {
	border: 1px solid #4C3C1B;
    padding: 5px;
    background-color: #fe3737; 
	display: block; 
	margin-left: auto; 
	margin-right: auto;
}

.gallery_wrapper {
	
	margin-left:auto;
	margin-right:auto;
}
.gallery_title {
	text-align:center;
}
.gallery_caption {
	margin: 10px;
	margin-left: 150px;
	margin-right: 150px;
	border:1px solid;
	text-align:center;
}


.sqdesc{
	
	font-size: 1.5em; 
	font-weight: bold;
	color:white;
	text-align:center;
	width:100%;
	padding-top:3px;
	padding-bottom:3px;
	background-color:#105A5D;

}

.dropdownwrap{
	height:auto;
	margin:0px 0px 10px 0px;
	background-color:#105A5D;
	display:none;
	padding:20px;
	border-radius: 0px 0px 5px 5px;
}

.membersdropdownwrap{
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
	height:auto;
	display:none;
	border-radius: 0px 0px 5px 5px;
}

.sqcontainer{
	background: #022C2E;
	padding: 3px;
	color:black;
	text-align:center;
}

.sqcontainer p{
	font-size:10pt;
	color:#022C2E;
	text-align:center;
	padding-bottom:50px;
}

.dropdownwrap p{
	font-size:10pt;
	color:black;
	text-align:left;
}

.sqcontainer a,.sqcontainer a:visited{
}

.sqcontainer a:hover{
}

.sqcontainer h3{
color:white;
font-family:"Comic Sans MS", cursive, sans-serif;
font-size:1.5em;
text-align:center;
line-height: 0px;
padding:3px;
}

.squaddroptable a{
color:black;

}

.squaddroptable {
color:black;
width:100%;
border-collapse: collapse;
background-color:transparent;
}

.squaddroptable  th{
color:black;
font-family:"Comic Sans MS", cursive, sans-serif;
font-size:1.5em;
text-align:center;
border-right:0px;
border-bottom: solid 2px black;
padding-bottom:5px;
}

.squaddroptable  td{
color:black;
font-family:"Comic Sans MS", cursive, sans-serif;
font-size:1.5em;
text-align:center;
border-bottom: dotted 1px black;
padding-bottom:5px;
}


#post_snippet {
	background-color:rgba(255,255,255,0.5);
	margin: 0px 0px 10px 0px;
	padding:5px;
	border-radius: 0px 0px 5px 5px;


}

.container {
	/* set the width of bootstrap menu */
	width:960px;
	margin-left:auto;
	margin-right:auto;
	}
	
.bgcontainer {
	/* set the border around the site */
	position:relative;
	top:70px;
	width:960px;
	margin-left:auto;
	margin-right:auto;
}

.footer {
	color:white;
	font-size:.7em;
    bottom:0px;
	margin-bottom:0px;
	margin-top:35px;
    padding: 2em;
	position:relative;
	top:70px;
	width:960px;
	margin-left:auto;
	margin-right:auto;

}

.landingheader{
	width:960px;
	height:300px;
	margin-bottom:15px;
	background-color:#750FFA;
	background: url(landingheader.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
}

.landingheader h1{
	font-family:"Comic Sans MS", cursive, sans-serif;
	text-align:right;
	font-size:7em;
	padding-right:10px;
	line-height: 505px;
	color:#750FFA;
}

.gamevars{
	width:960px;
	height:30px;
	background-color:#D0118D;
	margin-bottom:15px;
	color:#750FFA;
	text-align:center;
	padding-top:3px;
	font-size:1.7em;
	font-family:"Comic Sans MS", cursive, sans-serif;
}

.infoboxwrapper{
width:960px;
height:450px;
margin-bottom:15px;

}

.missionbox{
	width:520px;
	height:350px;
	position:relative;
	background-color:#FF4DC1;
	float:left;
	color:#00FF1E;
}

.forumbox{
	width:960px;
	position:relative;
	float:left;
}

.aboutbox{
	width:410px;
	height:300px;

	background-color:#ca0f83;
	float:right;
}

.bodybox{
	width:960px;
	height:470px;
	margin-top:15px;
}

.postbox{
	width:670px;
	height:470px;
	position:relative;
	float:left;
	background-color:#750FFA;

}

.socialbox{
	width:260px;
	position:relative;
	float:right;
	background-color:#4B0503;

}

.twitter-timeline{
	padding-left:5px;
	padding-right:5px;
	color:black;
}

.fb-like-box{
	width:100%;
	bottom: 5px;
	color:black;
}

.missiontable{
color:black;
width:100%;
border-collapse: collapse;
background-color:transparent;
}

.missiontable th{
color:#EBFFED;
font-family:"Comic Sans MS", cursive, sans-serif;
font-size:1.7em;
text-align:center;
border-right:0px;
border-bottom: solid 2px black;
padding-bottom:5px;
}

.missiontable td{
color:#EBFFED;
font-family:"Comic Sans MS", cursive, sans-serif;
font-size:1.2em;
text-align:center;
border-bottom: dotted 1px black;
padding-bottom:5px;
}

.eventtable{
color:black;
width:100%;
border-collapse: collapse;
background-color:transparent;
}

.eventtable th{
color:white;
font-family:"Comic Sans MS", cursive, sans-serif;
font-size:1.7em;
text-align:center;
border-right:0px;
border-bottom: solid 2px black;
padding-bottom:5px;
background-color:#FD87C6;
}

.eventtable td{
color:white;
font-family:"Comic Sans MS", cursive, sans-serif;
font-size:1.2em;
text-align:center;
border-bottom: dotted 1px black;
padding-bottom:5px;
background-color:#fac117;
}


tr.open {
background-color:#750FFA;
color:#EBFFED;
}

tr.closed {
background-color:#f00f4f;
color:#EBFFED;
}

tr.open:hover{
   background-color:#2F4603;
}

tr.closed:hover{
   background-color:#9A1C19;
}

.postcontainer{
	font-family:"Comic Sans MS", cursive, sans-serif;
	font-size: 1.5em; 
	font-weight: bold;
	background: #022C2E;
	padding: 3px;
	color:white;
	text-align:center;
}

.postcontainer p{
	font-size:10pt;
	color:#B7B7B7;
	text-align:center;
	padding-bottom:50px;
}

.postcontainer:hover { 
background-color: #1C3A3B; 
}

.postinfo{
	background-color:#fac117;
}

.postinfo p{
	padding-left:10px;
	padding-right:10px;
	font-size:10pt;
	color:#ce41c3;
	text-align:left;
	
}

.postcontainer a,.postcontainer a:visited{
 text-decoration: none;
}

.infoheaderwrapper{
	margin-top:10px;
	margin-bottom:10px;
	width:960px;
	height:350px;

}

.infoprofilepicbox{
	width:194px;
	height:194px;
	float:left;
	margin-right:15px;
	margin-bottom:15px;
	border:3px solid white;
}


.profileinfobox{
	width:724px;
	height:350px;
	float:left;
	background-color:#9A1C19;
	padding-top:10px;
	padding-right:10px;
	padding-left:10px;

}

.infocontentwrapper{
	margin-top:15px;
	width:960px;
	height:350px;

}

.infohistory{
	margin-top:15px;
	width:950px;
	background-color:#022C2E;
	padding:5px;
	float:left;
}

.missionheader{
width:960px;
padding:15px;
}

.missionheader h1{
color:white;
text-align:center;
}

.missioncontentbox {
width:960px;
background-color:#4B0503;
}

.missioncontenttext {
width:930px;
padding:10px;
}

.missionpicturebox {
width:430px;
padding:10px;
margin-left: auto ;
margin-right: auto ;
}

.eventcontentbox {
width:960px;
overflow:auto;
background-color:#4B0503;
}

.eventcontenttext {
background-color:#9A1C19;
width:300px;
margin-left:10px;
margin-top:10px;
margin-bottom:10px;
padding:3px;
float:left;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

.eventcontenttext:hover {
background-color:#CB4D4A;

}

.eventbuttonbox {
width:960px;
clear: both;
}

.eventbuttonleft, .eventbuttonright{
background-color:#668F17;
margin:5px;
padding-left:5px;
padding-right:5px;
text-align:center;
background-color:#668F17;
}

.eventbuttonleft{
float:left;
}

.eventbuttonright{
float:right;
}

.eventbuttonleft:hover,.eventbuttonright:hover{
background-color:#9AC548;
}

.eventbutton {
background-color:#668F17;
margin-top:5px;
margin-left:5px;
margin-right:5px;
margin-bottom:3px;
padding-top:3px;
padding-bottom:3px;
padding-left:5px;
padding-right:5px;
text-align:center;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

.eventbutton:hover {
background-color:#9AC548;
}


.forum_posts_userinfo{
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color:#F5E905;
  color:white;
  font-size:17px;
  vertical-align: top;
  display: inline-block;
  margin:5px;
  width:100px;
  padding:3px;


}

.forum_posts{
  font-family:"Arial Black", Gadget, sans-serif;
  color:white;
  font-size:20px;
  margin:10px;
  padding:0;
  text-align:left;
  text-indent: 10px;

}

p.forum_posts {text-indent: 10px; } 

.forumtable{
color:black;
width:100%;
border-collapse: collapse;
background-color:transparent;
}

.forumtable th{
background-color:#fa0f8c;
color:#fa0f8c;
font-family: "Comic Sans MS", cursive, sans-serif;
font-size:1.5em;
text-align:center;
border-right:0px;
border-bottom: solid 2px #fa9832;
padding-bottom:5px;
padding-top:5px;
}

.forumtable td{
color:#5CFA00;
font-family: "Comic Sans MS", cursive, sans-serif;
font-size:2.5em;
text-align:center;
border-bottom: dotted 1px black;
}

.forumtable td.odd{
background-color:#fa1100;
padding-bottom:5px;
padding-top:5px;
}

.forumtable td.even{
background-color:#fa0f8c;
padding-bottom:5px;
padding-top:5px;
}

.forumtable tr.odd{
background-color:#fa9832;

}

.forumtable tr.even{
background-color:#000066;
}

.forumpostbutton {

width:200px;
background-color:#454545;
margin-top:10px;
margin-left:10px;
margin-right:10px;
margin-bottom:5px;
padding-top:3px;
padding-bottom:3px;
padding-left:5px;
padding-right:5px;
text-align:center;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}


/* below are all the mobile styles*/

.mobilecontainer{
	width:320px;
	margin-left:auto;
	margin-right:auto;
}

.mobilewrapper {
	width:320px;
	margin-left:auto;
	margin-right:auto;
}

.mobileposition {

}

.mobilemissionbox{
	width:100%;
	margin:0px;
	background-color:#022C2E;
}

.mobilegamevars {
    font-family:"Comic Sans MS", cursive, sans-serif;
	text-align:center;
	background-color:#5FED0C;
	color:black;
	padding-top:2px;
	padding-bottom:2px;
}

.mobilebg{
	background-color:#5FED0C;
}

html.mobilebg{
	background-color:#8C034C;
}

.mobilepostbox{
	width:320px;
	background-color:#1C3A3B;

}

.mobilepostbox p {
	width:480px;
	color:black;

}

.mobilepostinfo{
	background-color:#105A5D;
	font-family:"Comic Sans MS", cursive, sans-serif;
	font-size: 1.3em;
	border-bottom:1px dotted black;
	padding:2px;
	text-align:center;
}

.mobilepostinfo p{
	padding-left:5px;
	padding-right:5px;
	font-size:10pt;
	color:white;
	text-align:center;
	
}

.mobilepostcontainer{
	font-family:"Comic Sans MS", cursive, sans-serif;
	font-size: 1.7em; 
	font-weight: bold;
	background: #022C2E;
	padding: 3px;
	color:white;
	text-align:center;
}

.mobliepostcontainer p{
	font-size:10pt;
	color:#B7B7B7;
	text-align:center;
	padding-bottom:50px;
}

.mobilepostcontainer:hover { 
background-color: #1C3A3B; 
}


.mobilesqdesc{
	width:320px;
	font-size: 1em; 
	font-weight: bold;
	color:white;
	text-align:center;
	width:100%;
	padding-top:3px;
	padding-bottom:3px;
	background-color:#105A5D;

}

.mobilesquaddroptable a{
color:black;

}

.mobilesquaddroptable {
color:black;
width:100%;
border-collapse: collapse;
background-color:transparent;
}

.mobilesquaddroptable  th{
color:black;
font-size:.7em;
text-align:center;
border-right:0px;
border-bottom: solid 2px black;
padding-bottom:3px;
}

.mobilesquaddroptable  td{
color:black;
font-size:.7em;
text-align:center;
border-bottom: dotted 1px black;
padding-bottom:3px;
}

.mobilesquadpostwrapper{
	width:320px;
}

.mobileinfoprofilepicbox{
	width:194px;
	height:194px;
	margin-right:15px;
	margin-bottom:15px;
	border:3px solid white;
}


.mobileprofileinfobox{
	width:320px;
	height:350px;
	background-color:#9A1C19;

}



.mobileinfohistory{
	margin-top:15px;
	width:320px;
	background-color:#022C2E;
}

.mobilemissionheader{
width:320px;
padding:5px;
}

.mobilemissionheader h1{
color:white;
text-align:center;
}

.mobilemissioncontentbox {
width:320px;
background-color:#4B0503;
}

.mobilemissioncontenttext {
width:310px;
padding:1px;
}

.mobilemissionpicturebox {
width:320px;
margin-left: auto ;
margin-right: auto ;
}
