@font-face { font-family: Asymptom; src: url('aesymatt.ttf'); } 
@font-face { font-family: Asymptom; font-weight: bold; src: url('aesymatt.ttf');}
@font-face { font-family: Crisp; src: url('crisp.ttf'); } 
@font-face { font-family: Kreeture; src: url('kree.ttf'); } 

hr.styled { 
	border: 0; 
	height: 1px; 
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
	background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

.fb-like-box{
	margin-bottom: 10px;
}
.canvas {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	min-height:100%;
	position:relative;
}

.content-profile {
	/* set margin-left greater then .nav width */
	margin-left: 250px;
	/* set margin-right greater then .sidebar width */
	margin-right: 100px; 
	padding-right: 8px;
	/* do no set float: left; */	

}

.content {
        /* set margin-left greater then .nav width */
        margin-left: 183px;
        /* set margin-right greater then .sidebar width */
        margin-right: 305px; 
        padding-right: 8px;
        /* do no set float: left; */ 
		padding-bottom:100px;


}

.sidebar {
	float: right;
	width: 305px;
	margin-top: 0.5em;
	margin-right: 0.2em;
}

.sidebar-main {

}

.sidebar-main-body {
	border:1px solid #666666;
	background: #CCCCCC;	
	border-radius: 2px;
	padding: 0.3em;
	
}

.sidebar-main-title {
	font-size: 1.5em; 
	font-family:  Century Gothic, sans-serif; 
	font-weight: bold;
	text-align:center;
	background-image:url(icons/arrow6.png);
	background-repeat: no-repeat;
	padding: 5px;
	color:black;
	
}

.nava{
        float: left;
        margin-left: 3px;
        width: 175px;
        /* do not remove float: left */
		padding-bottom:100px;
}

.nava-profile{
	padding-top: 55px;
	float: left;
	margin-left: 3px;
	width: 240px;
	/* do not remove float: left */
}

.nava-ads {
	margin-top: 0.5em;
}

.nava-ads-body-profile {
	background: #ffffff;	
	border-radius: 5px;
	padding: 0.3em;
}

.nava-ads-body {
	background: #ffffff;	
	padding: 0.3em;
}

.nava-ads-title {
	font-size: 1.5em; 
	font-family:  Century Gothic, sans-serif; 
	font-weight: bold;
	text-align:center;
	background: #97C30A;
	padding: 1px;
	color:black;

	
}

.nava-main {
 	background: #898989;
	
	
}

.nava-main-body ul, .nava-main-body ul li {
	display: inline;
	font-family: Century Gothic, sans-serif;
	font-size: 1em; 
	font-weight: bold;
	text-align:center;
	text-decoration: none; 
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.nava-main-body a {
	display: block; 
	line-height: 1.5em; 
	text-decoration: none; 
	
	background: #CCCCCC;
	padding: 3px;
	color: black; 
}

.nava-main-body a:hover {
	color: white; 
	background: red;
}

.nava-main-title {
	text-align:center;
	font-size: 2em; 
	font-family:  Century Gothic, sans-serif; 
	font-weight: bold;
	background: #fe3737;
	}

.content-info {
	background-image:url(tablegradz.png);
	background-position:initial initial;
	background-repeat:repeat no-repeat;

	margin-left: 0.5em;
	
}

.content-info-body {

	font-family: Century Gothic, sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	padding: 0.3em 0.3em;
	border:1px solid #666666;
	text-align:center;
}

.content-info-title {
	font-size: 1.1em; 
	font-family: verdana, arial, sans-serif; 
	font-weight: bold; 
}

.content-main {
}

.content-main-body {
	
}

.content-main-title {
	font-size: 1.2em; 
	font-weight: bold; 
	/* margin-bottom: 10px */	
	margin-bottom: 0.625em;
}

.content-main-body-title {
	font-size: 1.5em; 
	font-family:  Century Gothic, sans-serif; 
	font-weight: bold;
	background: #97C30A;
	padding: 3px;
	color:black;
	text-align:center;
}

.content-mis {

        padding-right: 8px;
        /* do no set float: left; */ 
		padding-bottom:100px;


}
	
.content-info-mis {
	background-image:url(tablegradz.png);
	background-position:initial initial;
	background-repeat:repeat no-repeat;

	margin-left: 0.5em;
	
}

.content-info-body-mis {

	font-family: Century Gothic, sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	padding: 0.3em 0.3em;
	border:1px solid #666666;
	text-align:center;
}

.content-info-title-mis {
	font-size: 1.1em; 
	font-family: verdana, arial, sans-serif; 
	font-weight: bold; 
}

.content-main-mis{
}

.content-main-body {
	
}

.content-main-title-mis {
	font-size: 1.2em; 
	font-weight: bold; 
	/* margin-bottom: 10px */	
	margin-bottom: 0.625em;
}

.content-main-body-title-mis {
	font-size: 1.5em; 
	font-family:  Century Gothic, sans-serif; 
	font-weight: bold;
	background: #B7AFA3;
	padding: 3px;
	color:black;
	text-align:center;
	border-radius:2px;


}

.footer {
	height:75px;
	width:100%;
	position:absolute;
    bottom:0px;
    background:#e70000;
    padding: 2em;
    border-radius: 2px;	
}

.footer-title {
	font-size: 1.2em; 
	font-family: Century Gothic,sans-serif;
	font-weight: bold; 		
	padding-bottom: 0.5em;
}

.footer-body ul {
	margin: 0;
	padding: 0;
	font-family: verdana, arial, sans-serif;
	font-size: 1em;
	color: blue;	
	font-weight: normal;
}

.footer-body ul li {
	display: inline;
}

.footer-body ul li a {
	color: blue;
	padding-right: 0.625em;
	text-decoration: none;
	background: transparent url("../images/dot.gif") center right repeat-y;
}

.footer-body ul li a:hover{
	color: black;
}

#bcode{
	font-size:1.4em;
	font-family:'Crisp', sans-serif;
}

#stickyside{
	position:absolute;
	right:100px
}

#posts{
	margin-left:auto;
	margin-right:auto;

}

#spacer {
	height:125px;
}

#padded10{
	margin: 10px; 
}

#content-left-sidebar {
    display: block;
    align: top;
    float: left;
    width; 400px;
    
}
#content-right-sidebar {
    display: block;
    float: right;
    width: 292px;
}

img.desaturate{
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%); 
	-o-filter: grayscale(100%);
	filter: url(desaturate.svg#greyscale);
	filter: gray;
}

hr.smooth {
    background-color: #9D2053;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

#profilepic {
border: 0px
display:block;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}


.button {
	border-width: 0px;
	-webkit-animation-name: bluePulse;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font-size:.8em;
	padding: .4em .4em .4em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: 2px; 
	-moz-border-radius: 2px;
	border-radius: 2px;

}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}
.one-edge-shadow {
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}


html{

  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	background-color:#ffffff;
}
a:link {color:#000; text-decoration: none}
a:visited {color:#000; text-decoration: none}
a:hover {color: #000; text-decoration: none}
a:active {text-decoration: none}
a.topmenu {
	text-align:center;
	color:#ffffff;
}
span.headerhvz{
  font-family:'Asymptom', sans-serif;
  font-size:1.5em;
  color:#ffffff;
}
a.headerhvz{
  font-family:'Asymptom', sans-serif;
  color:#ffffff;
}
ul{list-style-type: none;
}
#rostermenu {
   float:left;
   width:100%;
   overflow:hidden;
   position:relative;
}
#rostermenu ul {
   clear:left;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   left:50%;
   text-align:center;
}
#rostermenu ul li {
   display:block;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   right:50%;
}
#rostermenu ul li a {
   display:block;
   margin:0 0 0 1px;
   padding:3px 10px;
   text-decoration:none;
   line-height:1.3em;
}
#rostermenu ul li a:hover {
   background:#369;
   color:#fff;
}
#rostermenu ul li a.active,
#rostermenu ul li a.active:hover {
   color:#fff;
   background:#000;
   font-weight:bold;
}

#rosterlist {
	background: #341931;
	color: #ffffff;
	padding: 10px;
	border-radius: 5px;
 }
 
#rostertext{
line-height: 50px;
} 

#rosterwrap ul li { 
	display: inline-block; float: none 
	padding-right: 20px;
}

h1{
text-align:center;
font-family:'Asymptom', sans-serif;
color:white;
}

h2{
font-family:'Asymptom', sans-serif;
color:white;
}

h3{
font-family:'Asymptom', sans-serif;
}
h4{
	font-family: Century Gothic, sans-serif;
	font-size: 1.2em;
	font-weight: bold;
}
#headerhvz{
  font-family:'Asymptom', sans-serif;
}
  
body {
  font-family: Century Gothic, sans-serif;
  color:black;
  font-size:14px;
  margin:0;
  padding:0;
  height:100%;
}

#tablestylepro{
font-family: Century Gothic, sans-serif;
width:100%;
border-collapse:collapse;
vertical-align:middle;
}
#tablestylepro td {

}
#tablestylepro td, #tablestylepro th {
font-size:1em;
border:1px solid #000000;
padding:3px 7px 2px 7px;
vertical-align:middle;
}
#tablestylepro th {
font-family:'Asymptom', sans-serif;

background-position:initial initial;
background-repeat:repeat no-repeat;
font-size:1.3em;
text-align:left;
padding-top:1px;
padding-bottom:4px;

color:#fff;
}
#tablestylepro tr.alt td {
color:#fff;
}
#tablestylegrey{
font-family: Century Gothic, sans-serif;
width:100%;
border-collapse:collapse;
}
#tablestylegrey td {
background-color:#6f6f6f;
}
#tablestylegrey td, #tablestylegrey th {
font-size:1em;
border:1px solid #000000;
padding:3px 7px 2px 7px;
vertical-align:middle;
}
#tablestylegrey th {
border:1px solid #000000;
font-family:'Asymptom', sans-serif;
background-image:url(tablegradg.png);
background-position:initial initial;
background-repeat:repeat no-repeat;
font-size:1.5em;
text-align:left;
padding-top:1px;
padding-bottom:4px;
background-color:#6f6f6f;
color:#000000;
}
#tablestylered tr.alt td {
color:#000000;
background-color:#ff4343;
}
#tablestylered{
font-family: Century Gothic, sans-serif;
width:100%;
border-collapse:collapse;
}
#tablestylered td {
background-color:#ff4343;
}
#tablestylered td, #tablestylered th {
font-size:1em;
border:1px solid #000000;
padding:3px 7px 2px 7px;
vertical-align:middle;
}
#tablestylered th {
border:1px solid #000000;
font-family:'Asymptom', sans-serif;
background-image:url(tablegradz.png);
background-position:initial initial;
background-repeat:repeat no-repeat;
font-size:1.5em;
text-align:left;
padding-top:1px;
padding-bottom:4px;
background-color:#ff4343;
color:#000000;
}
#tablestylered tr.alt td {
color:#000000;
background-color:#ff4343;
}
#tablestyle{
font-family: Century Gothic, sans-serif;
width:100%;
border-collapse:collapse;
vertical-align:middle;
}
#tablestyle td {
background-color:#3284ff;
}
#tablestyle td, #tablestyle th {
font-size:1em;
border:1px solid #000000;
padding:3px 7px 2px 7px;
vertical-align:middle;
}
#tablestyle th {
font-family:'Asymptom', sans-serif;
background-image:url(tablegrad.png);
background-position:initial initial;
background-repeat:repeat no-repeat;
font-size:1.5em;
text-align:left;
padding-top:1px;
padding-bottom:4px;
background-color:#3284ff;
color:#000000;
}
#tablestyle tr.alt td {
color:#000000;
background-color:#f2d3ec;
}

.squaddiv{
  width: 800px ;
  margin-left: auto ;
  margin-right: auto ;
  background: #cfcfcf;
  padding:.5em;
  border:1px solid grey;
  border-radius: 5px;
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px;
}

.squadinfo{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	border:2px solid black;
}

#squadtable{
	border-collapse: collapse;
	border-spacing: 0;
	display: block;
	font-size: 0;
}

#squadtable td, th, tr{
padding: 0; /* 'cellpadding' equivalent */
}

#page {
  background-color:#ffffff;
  margin:12px auto;
  width: 80%
  padding:0 30px 30px;
  z-index:0;

}
#topmenu {
	text-align:center;
	color:#ffffff;
}
#sidebar {
	float: right;
	width: 180px;
	background: #ccc
	margin: 10px;
}
#header {
	font-size: 32px;
	width:350px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
#inviswrapper {
	margin:40px 0px;
	padding:20px;
}
#post_snippet {

	margin:20px 0px;
	padding:10px;


}
.container {
	/* set the border around the site */
	width:950px;
	margin-left:auto;
	margin-right:auto;
}
.navbar-inner{


}

.alignleft {
	padding: 1em;
	float: left;
}
.alignright {
	padding: 1em;
	float: right;
}

.imgcenter {
	border: 1px solid #4C3C1B;
    padding: 5px;
    background-color: #fe3737; 
	display: block; 
	margin-left: auto; 
	margin-right: auto;
}

.gallery_wrapper {
	
	margin-left:auto;
	margin-right:auto;
}
.gallery_title {
	text-align:center;
}
.gallery_caption {
	margin: 10px;
	margin-left: 150px;
	margin-right: 150px;
	border:1px solid;
	text-align:center;
}




.dropdownwrap{
	height:auto;
	margin:0px 0px 10px 0px;
	background-color:#7e7e7e;
	display:none;
	padding:20px;
	border-radius: 0px 0px 5px 5px;
}

.membersdropdownwrap{
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
	height:auto;
	display:none;
	border-radius: 0px 0px 5px 5px;
}

.sqcontainer{
	font-size: 1.5em; 
	font-weight: bold;
	background: #97C30A;
	padding: 3px;
	color:black;
	text-align:center;
}


.sqcontainer p{
	font-size:10pt;
	color:#B7B7B7;
	text-align:center;
	padding-bottom:50px;
}

.dropdownwrap p{
	font-size:10pt;
	color:white;
	text-align:center;
}

.sqcontainer a,
.sqcontainer a:visited{

}

.sqcontainer a:hover{

}