{{include 'header.html'}}
{{if form:}}
<div class='inline'>
{{=form}}
</div>
{{pass}}
{{if fbpost:}}
    <script src='http://connect.facebook.net/en_US/all.js'></script>
    <INPUT type="button" class="button" value="Tell people about this on facebook!"
onclick='postToFeed(); return false;'/>
    <p id='msg'></p>

<!--Quick and dirty solution to having stuff posted to facebook with javascript. -->
    <script> 
      FB.init({appId: "	148476551982686", status: true, cookie: true});
      function postToFeed() {
        var obj = {
          method: 'feed',
            redirect_uri: 'http://leetmeatgolem.pythonanywhere.com',
          link: 'leetmeatgolem.pythonanywhere.com',
          picture: 'http://i.imgur.com/QDGEJpR.png',
          name: 'UMASS Amherst Humans vs Zombies',
            caption: '{{=results}}!',
          description: 'Have you signed up yet?'
        };
        function callback(response) {
          document.getElementById('msg').innerHTML = "Post ID: " + response['post_id'];
        }
        FB.ui(obj, callback);
      }
    </script>
{{pass}}
<h3>
        <p>
{{=A("Don't have a Five College email?",  _href=URL(c='gamectrl',f='registerrequest'))}}
    </p>
        
{{=A("Never got your Code? Try again here.",  _href=URL(c='gamectrl',f='resetregistration'))}}

</h3> 
{{include 'footer.html'}}
